trigger:
- main
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '$(nodeVersion)'
  displayName: 'Install Node.js'

- script: |
    cd backend
    npm install
  displayName: 'Install dependencies'

- script: |
    cd backend
    npm run migrate || echo "Migration skipped or failed"
  displayName: 'Run database migrations'
  continueOnError: true

- task: Docker@2
  inputs:
    containerRegistry: 'Azure Container Registry'
    repository: 'pantrymap-backend'
    command: 'buildAndPush'
    Dockerfile: 'backend/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest


